* {
    box-sizing: border-box;
}

html,
body,
main,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
    color: black;
    background: #f0f0f0;
    /* 文字不可选中 */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-weight: 400;
    font-size: 8em;
    letter-spacing: -0.045em;
    white-space: nowrap;
}

.content {
    width: 334px;
    height: 217px;
    background: rgb(51, 53, 43);
    border-radius: 3px;
    overflow-y: auto;
    padding: 0;
}

.appBox {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.appTag {
    width: 31%;
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(43, 252, 32);
}

.appTagBox {
    width: 86%;
    height: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 2px 2px #999, -1px 1px 2px #999; */
    transition: all 0.3s;
    font-size: 12px;
    font-family: 'chdotted';
    color: rgb(43, 252, 32);
}

.appTagBox:hover {
    /* box-shadow: 1px 2px 1px #ddd; */
}

.appTagBox>div {
    text-align: left;
}

/* 滚动条 */
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    /* display: none; */
}

::-webkit-scrollbar-thumb {
    /*滚动条滑块样式*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgb(22, 161, 15);
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    /* hover上去后的滚动条滑块样式 */
    /* background-color: #bbb; */
}

::-webkit-scrollbar-track {
    /*滚动条背景样式*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    /* border-radius: 10px; */
    background: rgb(51, 53, 43);
}

::-webkit-scrollbar-track:hover {
    /* hover上去后的滚动条背景样式 */
    /* background-color: #eee; */
}